/*=============================================*/
/************** 1.0 - Defaults Css ************/
/*===========================================*/

* {
  padding: 0px;
  margin: 0px;
  outline: none; 
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 400;
  background: #ffffff;
  transition: all .5s ease;
  color: #05022a;
  overflow-x: hidden;
}
::selection{
  background: #00aeff;
}
h1,h2,h3,h4,h5,h6{
    line-height:1.33;
    font-weight:600;
    margin-bottom: 0px;
}
a {
  text-decoration: none; 
  transition: all .5s ease;
}
h1{
    font-size:2.93em;
}
h2{
    font-size:2.3em;
}
h3{
    font-size:1.87em;
}
h4{
    font-size:1.6em;
}
h5{
    font-size:1.33em;
}
h6{
    font-size:1.07em;
}
p{
  font-size:1em;
  margin-bottom: 0px!important;
}
ul {
  margin-bottom: 0px; 
}
li {
  list-style: none; 
}
button {
  border: none;
  cursor: pointer; 
}
button:focus {
  outline: none; 
}
img {
  max-width: 100%; 
}



/*=============================================*/
/************** 2.0 - Navbar Css **************/
/*===========================================*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: 1s;
  z-index: 3;
}
header.black{
  background: rgba(137, 130, 247, .9);
}
.bg-light {
  background: transparent!important;
}
.navbar {
    padding: .5rem 0rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.9);
  padding: 10px 14px;
}
.nav-link{
  position: relative;
}
.navbar-light .navbar-nav .nav-item:hover .nav-link:before{
  content: ". . .";
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.logo {
  color: #ffffff;
  font-size: 25px;
}

.logo:hover {
  color: #ffffff;
}
.search {
  height: 35px;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding-left: 30px;
  margin-top: 8px;
}
/*===========================================*/
/************** 3.0 - Slider Css ************/
/*=========================================*/
#slider{
  height: 100vh;
  background: url(img/softeum_bg1.jpg) no-repeat center bottom;
  background-size: cover;
}
.slider-content{
  position: relative;
  height: 100vh;
  color: #ffffff;
}
.verticle-align-tm{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider-title{
  padding-bottom: 40px;
}
.slider-text{
  padding-bottom: 45px;
  padding-right: 60px;
}
form.slider-form {
    position: relative;
}
.slider-form input{
  background: #ffffff;
  border: none;
  padding: 16px 225px 15px 30px;
  border-radius: 5px;
  transition: all .3s ease;
  border-radius: 100px;
  box-shadow: 0px 7px 18px 2px rgba(0, 0, 0, 0.25);
}
.slider-form input[type="email"]::placeholder {
    color: #423965;
}
#slider .tm-button{
  position: absolute;
  left: 54%;
  top: -1px;
}

/************* Product Css ************/
#products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.product {
}

.product .title {
  padding-bottom: 15px;
}

.product-image {
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.comment a {
  padding: 10px 30px;
  border: 1px solid #8982f7;
  border-radius: 10px;
  display: inline-block;
  color: #8982f7;
}

#single-post {
  padding-top: 60px;
  padding-bottom: 60px;
}
.single-post .feature-image {
  height: 300px;
  float: left;
  margin-right: 60px;
}

.single-post .feature-image img {
  height: 100%;
}

.post-details ul {
  padding-bottom: 60px;
}

.post-details ul li {
  font-size: 18px;
}

.order-btn a {
  padding: 7px 20px;
  border: 1px solid #8982f7;
  display: inline-block;
  font-size: 18px;
  border-radius: 15px;
  background-color: #8982f7;
  color: #ffffff;
}

.order-btn a:hover {
  background-color: #ffffff;
  border: 1px solid #8982f7;
  color: #8982f7;
}

.single-post .title {
  padding-bottom: 50px;
  padding-left: 150px;
}





/*===========================================*/
/************* Footer Css ************/
/*=========================================*/
#footer{
  background: url(img/footer-bg.jpg);
  color: #ffffff;
  background-size: cover;
}
#footer h1{
  margin: 0px;
}
.widget-area{
  padding-top: 95px;
  padding-bottom: 97px;
  background-size: cover;
  background-position: center center;
}
.widget-title-tm{
  font-weight: 400;
  padding-bottom: 35px;
}
.tm-widget-text a,
.copyright-text a,
.copyright-nav a,
.widget-links a{
  color: #ffffff;
  transition: all .5s ease;
}
.widget-links a:hover,.tm-widget-text a:hover{
  color: #05022a;
}
.widget-links a{
  color: #ffffff;
  transition: all .5s ease;
}
.tm-widget-text li{
  padding-bottom: 6px;
}
.tm-widget-text li:last-child{
  padding-bottom: 0px;
}
.widget-links li{
  padding-bottom: 5px;
}
.widget-links li:last-child{
  padding-bottom: 0px;
}
.copyright-area{
  background: #000;
  padding: 23px 0px;
}
.copyright-text,
.copyright-nav a{
  font-size: 0.866em;
}
.copyright-nav{
  text-align: right;
}
.copyright-nav li{
  display: inline-block;
  padding-left: 25px;
}
/*==========================================*/
/************* 18.0 - Hover Css ************/
/*========================================*/
a:hover {
  text-decoration: none;
  color:#8982f7;
}

.pagination li {
  display: inline-block;
  margin-right: 10px;
}

.pagination li a {
  height: 35px;
  width: 35px;
  border: 1px solid #8982f7;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  padding-top: 5px;
  color: #8982f7;
}


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  padding-top: 50px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 90px;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}

input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}





/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}



.comments {
    padding-top: 200px;
}

.comments .user {
    padding-bottom: 60px;
}

.user img {
    float: left;
    margin-right: 30px;
}

.user-name {
    padding-bottom: 20px;
    margin-left: 130px;
}

.user-comment {
    padding-bottom: 9px;
    margin-left: 130px;
}

.reply {
  margin-left: 130px;
}
.reply a {
    text-transform: uppercase;
}

.user > .user {
    padding-left: 80px;
    margin-top: 30px;
    padding-bottom: 0px;
}b

.comment-title {
    text-align: center;
    color: #8bb5ca;
    padding-bottom: 55px;
}

.half-width input[type="text"] {
    height: 40px!important;
    width: 47.6%!important;
    border: 1px solid #8bb5ca;
    border-radius: 5px!important;
    padding-left: 15px!important;
    margin-right: 30px!important;
    text-align: left;
    background-color: #ffffff;
}
.half-width {
  margin-bottom: 30px;
}

.half-width input[type="email"] {
    height: 40px;
    width: 47.6%;
    border: 1px solid #8bb5ca;
    border-radius: 5px;
    padding-left: 15px;
}
b
.full-width textarea {
    height: 120px;
    width: 100%;
    border: 1px solid #8bb5ca;
    border-radius: 5px;
    padding: 15px 0px 0px 15px;
    margin-bottom: 30px;
}

.submit input[type=submit] {
  margin: 0;
}

.main-title {
  margin-bottom: 30px;
  border-bottom: 1px solid #7d7d7d;
}

#login-page {
  background-color: #b9b9b9;
}

#register-page {
  background-color: #b9b9b9;
}

.order-form {
  margin-top: 100px;
  margin-bottom: 100px; 
  border: 1px solid #b9b9b9;
  padding: 60px;
}

.order-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #7d7d7d;
}

.submit-btn {
  padding: 10px 30px;
  border: 1px solid #8982f7;
  background: #8982f7;
  border-radius: 10px;
  color: #ffffff;
  margin-top: 30px;
}